.date-picker {
  position: relative;

  &__btn-open {
    color: var(--clr-primary-600);
    svg {
      height: 2.4rem;
      width: 2.4rem;
    }
  }

  &__date {
    font-size: 1.4rem;
    color: var(--clr-primary-600);
    cursor: pointer;
  }
  &__calendar {
    position: absolute;
    top: 3rem;

    background-color: var(--clr-bg-400);
    z-index: 1000;
    box-shadow: var(--box-shadow);

    .rdp-day_selected {
      background-color: var(--clr-primary-600);
    }

    .rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
      border: 1px solid var(--clr-primary-400);
      background-color: transparent;
    }

    .rdp-day_today:not(.rdp-day_selected) {
      color: var(--clr-primary-600);
      border: 1px solid var(--clr-primary-400);
    }
  }
}
