.no-content {
  height: 100%;
  min-height: 35rem;
  display: grid;
  place-content: center;
  text-align: center;
  .content {
    display: grid;
    justify-items: center;

    .heading-3 {
      opacity: 0.5;
    }

    p {
      width: 60%;
      margin-top: 2rem;
    }
  }
  .container--buttons {
    margin-top: 3.2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}
