.note {
  position: relative;
  margin-top: 2.4rem;
  border-radius: 3px;

  line-height: 2;
  background-color: var(--clr-bg-50);
  padding: 1.6rem;
  border-left: 6px solid transparent;

  &[data-dragging='true'] {
    outline: 3px solid var(--clr-primary-600);
  }

  &.yellow {
    // background-color: var(--bg-notes-yellow);
    border-left: 6px solid var(--bg-notes-yellow);
  }
  &.blue {
    border-left: 6px solid var(--bg-notes-blue);
  }
  &.red {
    border-left: 6px solid var(--bg-notes-red);
  }
  &.green {
    border-left: 6px solid var(--bg-notes-green);
  }

  white-space: pre-wrap;
  // box-shadow: var(--box-shadow-cards);
  box-shadow: var(--box-shadow-50);

  .container--edit-button {
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
  }

  .heading-5 {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 0.2em;
    max-width: 25ch;
    line-height: 1.4;
  }

  .button--edit-note {
    svg {
      height: 1.4rem;
      width: 1.4rem;
    }
  }

  a {
    text-decoration: underline;
    color: var(--clr-primary-600);
  }

  ul,
  ol {
    margin-left: 1.6rem;
  }

  ul {
    list-style: initial;
  }
}
