.login-page {
  width: 100%;
  display: grid;
  place-content: center;
  background-color: var(--clr-bg-black-600);
  font-size: 1.8rem;

  .heading-1 {
    text-align: center;
    margin-bottom: 3.2rem;
  }

  .card-login {
    margin: 0 auto;
    padding: 3.2rem;
    border-radius: 8px;
    min-width: 45rem;
    column-gap: 4.8rem;
    background-color: var(--clr-bg-black-500);
    align-items: center;
  }

  .wrapper {
    .heading-4 {
      margin-bottom: 2rem;
    }
    .form {
      display: grid;
      row-gap: 2rem;
      column-gap: 2rem;
      margin-bottom: 4rem;

      .form-item {
        display: grid;
        row-gap: 0.8rem;
      }

      .button {
        margin: 0 auto;
        font-size: inherit;
      }

      &--signup {
        grid-template-columns: 25rem 25rem;

        .form-item--email,
        .form-item--pw1,
        .form-item--pw2,
        .button--signup {
          grid-column: 1/-1;
        }
      }
    }
    &--signup .button--account-exists,
    .button--remembered {
      display: block;
      margin: 0 auto;
    }

    .container--links {
      display: flex;
      gap: 2rem;
      justify-content: space-evenly;
    }
  }
}
