.repertoire-list {
  display: grid;
  grid-template-rows: auto auto 1fr;

  overflow-y: hidden;

  .link-back {
    margin-bottom: 3.2rem;
    align-self: flex-start;
    width: fit-content;
    display: flex;
    gap: 0.6rem;
    font-size: 1.6rem;
    border-bottom: 1px solid var(--clr-primary-600);

    svg {
      color: var(--clr-primary-600);
    }
  }

  // 1084px
  // @media screen and (max-width: 67.75em) {
  //   width: 100vw;
  //   padding: 4.8rem 2rem;
  // }

  .header {
    display: flex;

    align-items: stretch;

    .heading-2 {
      margin-right: auto;
    }
  }

  .controls {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1.6rem;

    .count {
      // margin-top: 1.6rem;
      display: inline-block;
      margin-right: auto;
    }
  }

  .table {
    overflow-y: hidden;

    &__body {
      overflow-y: auto;
    }

    &__footer {
      display: flex;
      justify-content: flex-end;
    }

    &__row {
      &.loading {
        opacity: 0.3;
        pointer-events: none;
      }

      &.write {
        box-shadow:
          0 4px 8px rgba(146, 195, 211, 0.1),
          0 -4px 8px rgba(146, 195, 211, 0.1);
      }

      &.inactive {
        opacity: 0.3;
        pointer-events: none;
      }

      .buttons {
        display: flex;
        align-items: center;
        gap: 0.4rem;

        & > * {
          padding: 0.8rem;

          svg {
            height: 1.4rem;
            width: 1.4rem;
          }
        }
      }
    }
  }
}
