.notes {
  height: 100%;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    min-height: 3rem;
    height: 100%;
    overflow-y: auto;

    padding-bottom: 8rem;
  }

  &.dragging {
    .note:not(.dragged) {
      opacity: 0.6;
    }
  }
}
