---
import LogoHeader from '../../assets/logos/logo-header.astro';
---

<footer class="footer">
  <div class="container-right">
    <ul class="nav-footer--col">
      <li>
        <a href="https://demo.eleno.net" target="_blank">Demo</a>
      </li>
      <li>
        <a href="https://app.eleno.net/manual" target="_blank">Docs</a>
      </li>
      <li>
        <a href="/impressum">Impressum & Datenschutz</a>
      </li>
      <!-- <li>
        <a href="#">Blog</a>
      </li> -->
    </ul>
    <ul class="nav-footer--col">
      <li>
        <a href="/terms">AGB</a>
      </li>
      <li>
        <a href="mailto:info@eleno.com">Kontakt</a>
      </li>
    </ul>
  </div>

  <div class="container-middle">
    <div class="container-logo">
      <a href="/" aria-label="Link zur Startseite">
        <LogoHeader />
      </a>
    </div>
  </div>
  <div class="container-left">
    <p class="copyright">
      Copyright © <span id="year"></span> by <a
        href="https://derseitenschneider.ch">der seitenschneider</a
      >
    </p>
    <p>All rights reserved</p>
  </div>
</footer>

<style lang="scss">
  .footer {
    padding: 4rem 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    background-color: var(--clr-bg-500);
    .container-left {
      p,
      span {
        font-size: 1.6rem;
        margin-bottom: 0;
      }
    }
    .container-middle {
      .container-logo {
        width: 12rem;
      }
    }
    .container-right {
      display: flex;
      gap: 4rem;
      .nav-footer--col {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        a:hover {
          color: var(--clr-primary-600);
        }
      }
    }
  }

  @media (max-width: 960px) {
    .footer {
      padding-inline: 2rem;
    }
  }

  @media (max-width: 820px) {
    .footer {
      flex-direction: column;
      gap: 3.2rem;

      align-items: first baseline;
    }
  }
</style>

<script>
  const yearEl = document.getElementById('year');
  const year = String(new Date().getFullYear());
  if (yearEl) {
    yearEl.textContent = year;
  }
</script>
