---
import Button from '../ui/Button.astro';
import LogoHeader from '../../assets/logos/logo-header.astro';
import Logo from '../../assets/logos/logo.astro';
import { Icon } from 'astro-icon';
---

<header class="header">
  <button class="nav-toggle nav-open" aria-label="Mobile Navigation öffnen">
    <Icon name="ri:align-right" />
  </button>
  <nav class="desktop">
    <ul class="nav-left">
      <li class="nav-link nav-link--logo">
        <a href="/#" aria-label="Link zur Startseite">
          <LogoHeader />
        </a>
      </li>
      <li class="nav-link">
        <a href="/#">Home</a>
      </li>
      <li class="nav-link">
        <a href="https://demo.eleno.net" target="_blank">Demo</a>
      </li>
      <li class="nav-link">
        <a href="https://app.eleno.net/manual" target="_blank">Docs</a>
      </li>
      <!-- <li class="nav-link">
        <a href="#">Blog</a>
      </li> -->
    </ul>
    <div class="nav-right">
      <Button
        type="primary"
        link="https://app.eleno.net/?page=signup"
        target="_blank"
      >
        Sign Up
      </Button>
      <Button type="secondary" link="https://app.eleno.net/" target="_blank">
        Log In
      </Button>
    </div>
  </nav>

  <nav class="mobile">
    <button
      class="nav-toggle nav-close"
      aria-label="Mobile Navigation schliessen"
    >
      <Icon name="ri:close-line" />
    </button>
    <ul class="nav-list">
      <li class="nav-link">
        <a href="/">Home</a>
      </li>
      <li class="nav-link">
        <a href="https://demo.eleno.net" target="_blank">Demo</a>
      </li>
      <li class="nav-link">
        <a href="https://app.eleno.net/manual" target="_blank">Docs</a>
      </li>
      <li>
        <a href="/impressum">Impressum & Datenschutz</a>
      </li>
      <li>
        <a href="/terms">AGB</a>
      </li>
      <li>
        <a href="mailto:info@eleno.com">Kontakt</a>
      </li>
      <li class="nav-link btn-signup">
        <Button
          type="primary"
          link="https://app.eleno.net/?page=signup"
          target="_blank"
        >
          Sign Up
        </Button>
      </li>
      <li class="nav-link">
        <Button type="secondary" link="https://app.eleno.net/" target="_blank">
          Log In
        </Button>
      </li>
    </ul>
  </nav>
</header>

<style lang="scss">
  .header {
    position: sticky;
    top: 0;
    background-color: var(--clr-bg-400);
    transition: all 0.45s ease;
    z-index: 1000;

    .nav-toggle {
      position: fixed;
      top: 1.2rem;
      right: 1.2rem;
      height: 4rem;
      width: 4rem;
      padding: 0.4rem;

      opacity: 0;
      pointer-events: none;
      visibility: hidden;
    }
    .nav-open {
      background-color: var(--clr-bg-400);
    }
    .mobile {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      background-color: var(--clr-text-400);
      color: var(--clr-bg-600);
      transform: translateX(100%);

      transition: transform 0.65s ease;
    }
    &.scrolled {
      box-shadow: 4px 0 8px rgba(0, 0, 0, 0.2);
      .desktop {
        padding: 1.4rem 6.2rem;
        .nav-left {
          font-size: 1.6rem;
          gap: 2.4rem;

          .nav-link {
            &--logo {
              width: 10rem;
            }
          }
        }
      }
    }
    .desktop {
      padding: 1.8rem 6.2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .nav-left {
        display: flex;
        align-items: center;
        font-size: 2rem;
        gap: 3.2rem;
        transition: all 0.45s ease;

        .nav-link {
          &:hover {
            color: var(--clr-primary-600);
          }
          &--logo {
            width: 12rem;
            margin-right: 1.6rem;
            transition: all 0.45s ease;
          }
        }
      }

      .nav-right {
        display: flex;
        gap: 3.2rem;
      }
    }
  }

  @media (max-width: 1084px) {
    .header {
      position: relative;

      .nav-toggle {
        opacity: 1;
        pointer-events: all;
        visibility: visible;
      }

      .desktop {
        display: none;
      }

      .mobile {
        display: grid;
        place-content: center;

        .nav-list {
          display: flex;
          flex-direction: column;
          gap: 2rem;
          align-items: center;
          max-width: 20ch;
          li {
            font-size: 2rem;
            text-align: center;
          }

          .btn-signup {
            margin-top: 3rem;
          }
        }

        .nav-close {
          color: var(--clr-white);
        }

        &.open {
          transform: translateX(0);
        }
      }
    }
  }
</style>

<script>
  const header: HTMLElement | null = document.querySelector('.header');

  const buttonsHeader: NodeListOf<HTMLElement> | undefined =
    header?.querySelectorAll('.button');

  const buttonOpenNav = document.querySelector('.nav-open');
  const buttonCloseNav = document.querySelector('.nav-close');
  const mobileNav = document.querySelector('.mobile');

  // Make header smaller on scroll
  document.addEventListener('scroll', () => {
    if (window.innerWidth < 1084) return;
    if (header === null || !buttonsHeader) return;
    if (header.offsetTop >= 100) {
      header.classList.add('scrolled');
      buttonsHeader.forEach((btn) => {
        btn.style.fontSize = '14px';
        btn.style.fontWeight = '400';
        btn.style.transition = 'all 0.45s ease';
        // btn.style.border = '1px solid var(--clr-primary-600)';
      });
    } else {
      header.classList.remove('scrolled');
      buttonsHeader.forEach((btn) => {
        btn.style.fontSize = 'initial';
        btn.style.fontWeight = '600';
        // btn.style.border = '2px solid var(--clr-primary-600)';
      });
    }
  });

  // Nav toggle funcitonallity

  buttonOpenNav?.addEventListener('click', function () {
    mobileNav?.classList.add('open');
  });

  buttonCloseNav?.addEventListener('click', function () {
    mobileNav?.classList.remove('open');
  });
</script>
