---
import '../../../../app/src/scss/fonts.scss';
import '../../../../app/src/scss/global.scss';
import '../../../../app/src/scss/typography.scss';
import '../../styles/global-landingpage.scss';

import Header from './Header.astro';
import Footer from './Footer.astro';
import CookieBanner from '../ui/CookieBanner.astro';
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QHXM0ESE1S"
    ></script>
    <script>
      //@ts-nocheck
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-QHXM0ESE1S');
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow, max-image-preview:large" />
    <meta
      name="description"
      content="Eleno ist eine Webapp für Instrumentallehrpersonen. Eleno beinhaltet ein Unterrichtstagebuch, Schülerverwaltung, Todo-Listen und vieles mehr."
    />
    <meta
      name="keywords"
      content="Instrumentalunterricht, Musikunterricht, Lektionstagebuch, Lektionslogbuch, Unterrichtshilfe, Unterrichtstool, Musik, Musikschule"
    />

    <meta
      property="“og:image:secure_url“"
      content="https://eleno.net/og-img.png"
    />
    <meta property="og:image" content="https://eleno.net/og-img.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:title" content="Eleno - Smart unterrichten" />
    <meta
      property="og:description"
      content="Lektions-Tagebuch, Schülerverwaltung, Todos uvm. in einem Tool vereint."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://eleno.net" />
    <meta property="og:locale" content="de" />

    <link rel="cannonical" href="https://eleno.net" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>Eleno - smart unterrichten</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
    <CookieBanner />
  </body>
</html>

<style>
  body {
    background-color: var(--clr-bg-500);
    color: var(--clr-text-400);
  }
</style>
