.dashboard {
  height: 100vh;
  min-height: 70rem;
  // padding: 0.6rem;

  display: grid;
  grid-template-columns: 3fr minmax(35rem, 1fr);
  grid-template-rows: auto auto 1fr auto;
  gap: 0.1rem;

  grid-template-areas:
    'header header'
    'quick-links aside'
    'overview aside'
    'footer footer';

  background-color: var(--clr-lines);

  & > *:not(.footer-dashboard) {
    background-color: var(--clr-bg-100);
    padding: 2.8rem;
    // border-radius: 8px;
    // box-shadow: var(--box-shadow);
  }

  @media screen and (max-width: 56.25em) {
    min-height: 100vh;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-areas: 'header' 'quick-links' 'overview' 'aside' 'footer';
  }

  @media screen and (max-width: 30em) {
    padding: 0.4rem;
    & > *:not(.footer-dashboard) {
      padding: 1.8rem;
    }
  }
}
