.dashboard {
  height: 100vh;
  min-height: 70rem;
  padding: 0.6rem;

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto 1fr auto;
  gap: 0.6rem;

  grid-template-areas:
    'header header'
    'quick-links aside'
    'overview aside'
    'footer footer';

  background-color: var(--clr-bg-600);

  & > *:not(.footer--dashboard) {
    background-color: var(--clr-bg-500);
    padding: 2.8rem;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
  }
}

@media (max-width: 1000px) {
  .dashboard {
    height: auto;
    min-height: 100vh;
  }
}

@media (max-width: 480px) {
  .dashboard {
    .header--dashboard {
      .heading-1 {
        margin-bottom: 0;
        line-height: 1;
      }
    }
  }
}
