// [ ] fix sidebar padding inequality

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 6rem;
  height: 100vh;
  z-index: 50;
  background-color: var(--clr-bg-400);
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;

  box-shadow: var(--box-shadow);

  transition: width 0.3s ease;

  &.open {
    width: 18rem;
    .sidebar__link-text {
      opacity: 1;
      pointer-events: all;
      visibility: visible;
    }

    .chevron {
      transform: rotate(180deg);
    }
  }

  &__button--toggle {
    position: absolute;
    border: none;
    background-color: var(--clr-primary-600);
    color: var(--clr-white);
    height: 2rem;
    width: 2rem;
    top: 5rem;
    right: -0.8rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;

    cursor: pointer;
  }

  &__logo {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 3.2rem;
    padding: 0.8rem;

    & svg {
      width: 3rem;
      height: 3rem;

      rect {
        fill: var(--clr-bg-400);
      }
    }
  }
  &__nav-list {
    list-style: none;
    margin: 0;
    // margin-top: 3rem;
    // margin-left: 2rem;
    padding: 0;
  }

  &__nav-el {
    width: 100%;
    padding: 1rem;
    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .active {
    color: var(--clr-text-600);
  }

  &__nav-link {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__nav-icon {
    position: relative;
    // margin-right: 1.2rem;
    padding: 0.8rem;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    &:has(.icon--logout) {
      cursor: pointer;
    }

    .icon {
      height: 2.4rem;
      width: 2.4rem;
    }
  }

  &__nav-icon::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--clr-primary-600);
    z-index: -1;
    transform: scale(0);
    transition: transform 0.3s cubic-bezier(0.47, 1.64, 0.41, 0.8);
    // border-radius: 50%;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
  }

  .active &__nav-icon::after {
    transform: scale(1);
  }

  .active &__nav-icon .icon {
    fill: white;
    stroke: white;
  }

  &__link-text {
    margin-left: 1rem;
    transition: width 1s ease;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    transition: opacity 0.3s 0.1s;
  }

  .container-settings {
    // margin-top: auto;
    border-top: 1px solid var(--clr-bg-500);
    position: relative;
  }
}
