.todo-item {
  padding: var(--padding-todos);
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: var(--columns-todos);
  min-height: 5rem;
  box-shadow: var(--box-shadow-cards);

  column-gap: var(--column-gap-todos);
  align-items: center;

  &.overdue {
    box-shadow: var(--box-shadow-cards), inset 3px 0 0 var(--clr-warning),
      inset -3px 0 0 var(--clr-warning);
  }

  .checkbox {
    cursor: pointer;
  }

  background-color: var(--clr-bg-400);

  .wrapper-due {
    .overdue {
      color: var(--clr-warning);
    }
  }
}
