// [ ] Icon only button too small e.g. arrows lesson page

.button {
  display: flex;
  gap: 0.8rem;
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  height: fit-content;
  width: fit-content;
  align-items: center;

  &:disabled {
    color: grey;
    border: 1px solid grey;
    pointer-events: none;
    opacity: 0.8;
    background-color: transparent;
  }

  &--primary {
    // background-color: var(--clr-primary-400);
    background-color: var(--clr-primary-800);
    color: var(--clr-white);
  }

  &--secondary {
    border: 1px solid var(--clr-primary-600);
    color: var(--clr-primary-600);
  }

  &--icon-only {
    color: var(--clr-primary-600);
    padding: 0;
    height: 2rem;
    width: 2rem;
    // & span:has(+ span:empty) svg {
    //   height: 2rem;
    //   width: 1.4rem;
    // }

    &.warning {
      color: var(--clr-warning);
    }
  }

  &--danger {
    background-color: var(--clr-warning);
    color: var(--clr-white);
  }

  &.inactive {
    border: 1px solid var(--clr-darkgrey);
    background-color: var(--clr-lightgrey);
    color: var(--clr-darkgrey);
    pointer-events: none;
  }

  & span:empty {
    display: none;
  }

  & svg {
    height: 2rem;
    width: 2rem;
  }
}
