.timetable__day {
  --padding: 1.2rem;
  width: 35rem;
  border: 1px solid var(--clr-bg-black-600);
  background-color: var(--clr-bg-black-400);
  .header {
    background-color: var(--clr-bg-black-600);
    // margin-bottom: 2rem;
    padding: var(--padding);

    .meta-info {
      display: flex;
      justify-content: space-between;
      box-shadow: calc(0.3rem - var(--padding)) 0 0 var(--clr-bg-black-600),
        calc(-1 * var(--padding)) 0 0 var(--clr-primary);
    }
  }
  .row {
    display: grid;
    padding: var(--padding);
    grid-template-columns: 10rem 10rem auto;

    &:nth-child(odd) {
      background-color: var(--clr-bg-black-500);
    }
  }
}
