.dashboard {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
    // gap: 3rem;
    row-gap: 3rem;
    justify-items: center;
  }

  .heading-3 {
    font-size: 1.6rem;
  }

  .card {
    text-align: center;

    background-color: var(--clr-bg-400);
    color: var(--clr-text-400);
    min-height: 10rem;
    padding: 2rem;
    width: 32rem;
    display: flex;
    flex-direction: column;
    justify-content: start;

    border-radius: 8px;
    // border: 1px solid var(--clr-primary-600);
    box-shadow: var(--box-shadow-cards);

    transition: color 0.4s ease;

    hr {
      border-top: 1px solid var(--clr-primary-600);
      border-bottom: 1px solid var(--clr-primary-600);
    }

    &:hover {
      color: var(--clr-text-600);
    }
    .icon {
      display: block;
      margin: 0 auto;
      height: 3.6rem;
      width: 3.6rem;
      text-align: center;
      margin-bottom: 2.4rem;
    }

    .card-title {
      font-size: 2rem;
      margin-bottom: 1.2rem;
    }

    &__details--warning {
      color: var(--clr-warning);
    }
  }
}
