.container--header {
  display: flex;
  background-color: var(--clr-lightgrey);
  align-items: center;
  justify-content: space-between;

  & .container--buttons {
    display: flex;
    gap: 2rem;
  }
}
