.lessons {
  display: grid;
  grid-template-columns: 1fr 40rem;

  .main {
    flex-basis: 80%;
    textarea {
      background-color: var(--clr-bg-black-400);
      color: var(--clr-white);
      min-height: 15rem;

      &:focus {
        outline: none;
      }
    }
    input {
      background-color: var(--clr-bg-black-500);
      color: var(--clr-white);
      font-size: inherit;
      font-family: inherit;
      border: none;
      margin-left: 0.8rem;
      padding: 0.8rem;
      width: 10rem;
      &:focus {
        background-color: var(--clr-bg-black-400);
        outline: none;
      }
    }
    .container--lessons {
      position: relative;

      .container--two-rows {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2.4rem;
        // margin-bottom: 2.4rem;
        .heading-4 {
          margin-top: 1.2rem;
          margin-bottom: 0.8rem;
        }
      }
    }
  }

  .aside {
    position: relative;
    border-left: 1px solid var(--clr-bg-black-400);
    flex-grow: 1;
    padding: 1.6rem;
  }
  .modal--notes {
    .note-title {
      margin-bottom: 2.4rem;
    }

    .note-content {
      height: 16rem;
    }
  }
}
