.bulk-export-lessons {
  padding: 4.8rem;

  &__download-buttons {
    margin-top: 2.8rem;
    display: flex;
    gap: 2rem;
    position: relative;

    .container-loader {
      position: absolute;
      display: flex;
      align-items: center;
      gap: 0.8rem;
      top: 0;
      left: 0;
      height: 2rem;
      width: 50%;

      svg {
        color: var(--clr-primary-600);
        animation: spin 0.75s linear 1s infinite;
      }

      @keyframes spin {
        from {
          transform: rotate(0);
          transform-origin: center center;
        }
        to {
          transform: rotate(360deg);
          transform-origin: center center;
        }
      }
    }
  }
}
