*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 1rem;
}
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--clr-bg-200);
}

html {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  background-color: var(--clr-bg-100);
  color: var(--clr-text);
}

img,
svg,
picture {
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

hr {
  margin: 1.8rem 0;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
}

p,
strong,
span {
  font-size: 1.4rem;
  line-height: 1.5;
}

p {
  margin-bottom: 1.5em;
}

select:not([disabled]) {
  cursor: pointer;
}

input,
textarea {
  width: 100%;
}

input,
textarea,
select {
  display: block;
  font-family: inherit;
  font-size: 1.6rem;
  color: inherit;
  background-color: var(--clr-bg-50);
  border: none;
  padding: 0.8rem;
  resize: none;
  outline: none;
}

select {
  appearance: none;
  border-radius: 0;
  position: relative;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' height='10px' width='15px'%3E%3Ctext x='0' y='10' fill='gray'%3E%E2%96%BE%3C/text%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right center;
  background-clip: border-box;
  -moz-background-clip: border-box;
  -webkit-background-clip: border-box;
}

input.input--error,
textarea.input--error {
  outline: 1px solid var(--clr-warning);
}

input[type=time]::-webkit-calendar-picker-indicator {
  display: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

label input,
label select,
label textarea {
  margin-top: 0.8rem;
}

@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DM_Sans/DMSans-Regular.eot");
  src: url("../fonts/DM_Sans/DMSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/DM_Sans/DMSans-Regular.woff2") format("woff2"), url("../fonts/DM_Sans/DMSans-Regular.woff") format("woff"), url("../fonts/DM_Sans/DMSans-Regular.ttf") format("truetype"), url("../fonts/DM_Sans/DMSans-Regular.svg#DMSans-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DM_Sans/DMSans-Medium.eot");
  src: url("../fonts/DM_Sans/DMSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/DM_Sans/DMSans-Medium.woff2") format("woff2"), url("../fonts/DM_Sans/DMSans-Medium.woff") format("woff"), url("../fonts/DM_Sans/DMSans-Medium.ttf") format("truetype"), url("../fonts/DM_Sans/DMSans-Medium.svg#DMSans-Regular") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DM_Sans/DMSans-Bold.eot");
  src: url("../fonts/DM_Sans/DMSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/DM_Sans/DMSans-Bold.woff2") format("woff2"), url("../fonts/DM_Sans/DMSans-Bold.woff") format("woff"), url("../fonts/DM_Sans/DMSans-Bold.ttf") format("truetype"), url("../fonts/DM_Sans/DMSans-Bold.svg#DMSans-Regular") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.App {
  display: flex;
  height: 100%;
  min-height: 100vh;
  position: relative;
}

#main {
  margin-left: 6rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: calc(100vw - 6.5rem);
}
@media screen and (max-width: 42.5em) {
  #main {
    max-width: unset;
  }
}

.container {
  padding: 2rem 3.2rem;
}
@media screen and (max-width: 64em) {
  .container {
    padding: 2rem;
  }
}

.container--login {
  display: grid;
  width: 100%;
  place-content: center;
}

.container--loader:not(:empty) {
  width: 100%;
  padding-block: 15%;
  display: grid;
  place-content: center;
}

.container--error {
  padding-top: 1rem;
  color: var(--clr-warning);
}

.container--infos p {
  font-size: 1.2rem;
  color: var(--clr-text);
  margin-bottom: 1.2rem;
}

.error-message {
  font-size: 1.4rem;
  min-height: 2rem;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--clr-warning);
}

@media screen and (max-width: 42.5em) {
  *::-webkit-scrollbar,
  *::-webkit-scrollbar-track,
  *::-webkit-scrollbar-thumb {
    width: 0 !important;
    color: transparent;
  }
  .App {
    display: block;
    overflow-x: hidden;
    height: fit-content;
  }
  #main {
    margin-left: 0;
    display: block;
    margin-bottom: 6rem;
  }
  .container {
    padding: 2rem 1.4rem;
  }
  .container--loader:not(:empty) {
    height: 100vw;
    width: 100vw;
  }
}
.heading-1 {
  font-size: 3.2rem;
  margin-bottom: 0.8em;
  color: var(--clr-text);
  letter-spacing: -1.5px;
}

.heading-2 {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1em;
  color: var(--clr-text);
  letter-spacing: -1px;
}

.heading-3 {
  font-size: 2rem;
  font-weight: 300;
  color: var(--clr-text);
  margin-bottom: 1.2rem;
}

.heading-4 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 0.1em;
}

.heading-5 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.2em;
}

.heading-logo {
  font-weight: 200;
  letter-spacing: -1.5px;
}

:root {
  --clr-bg-50: hsl(207, 7%, 30%);
}

@media (prefers-color-scheme: light) {
  :root {
    --clr-bg-50: hsl(0, 0%, 98%);
  }
}
:root.light-mode {
  --clr-primary-800: #387589;
  --clr-primary-600: #4794ae;
  --clr-primary-400: hsl(195, 42%, 70%);
  --clr-lines: hsl(240, 6%, 90%);
  --clr-bg-50: #fafafa;
  --clr-bg-100: #f4f4f5;
  --clr-bg-200: #e4e4e7;
  --clr-text: #3f3f46;
  --border-notes-red: hsl(0, 100%, 75%);
  --border-notes-blue: hsl(203, 100%, 60%);
  --border-notes-yellow: hsl(47, 95%, 76%);
  --border-notes-green: hsla(118, 50%, 50%, 0.552);
}

html.dark-mode {
  --clr-primary-800: #387589;
  --clr-primary-600: #4794ae;
  --clr-primary-400: #92c3d3;
  --clr-lines: hsl(207, 7%, 30%);
  --clr-bg-200: #2f343a;
  --clr-bg-100: #343a40;
  --clr-bg-50: #484e53;
  --clr-text: #e4e4e7;
  --border-notes-red: hsl(0, 20%, 50%);
  --border-notes-blue: hsl(203, 25%, 50%);
  --border-notes-yellow: hsl(49, 36%, 50%);
  --border-notes-green: hsla(118, 25%, 50%, 0.552);
}

html.light-mode {
  --clr-primary-800: #387589;
  --clr-primary-600: #4794ae;
  --clr-primary-400: hsl(195, 42%, 70%);
  --clr-lines: #fff;
  --clr-bg-50: #fafafa;
  --clr-bg-100: #f4f4f5;
  --clr-bg-200: #e4e4e7;
  --clr-text: #3f3f46;
}

p {
  margin: 0;
  line-height: 2;
  font-size: 16px;
}

a:link,
a:visited,
a:active {
  text-decoration: underline;
}

a:hover {
  color: var(--clr-primary-600);
}

ul {
  list-style: disc;
  line-height: 2;
  font-size: 16px;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background: #f4f4f5;
  color: #3f3f46;
}

.header {
  padding: 2rem;
}
.header .logo img {
  height: 4.8rem;
  width: 4.8rem;
}

.section {
  padding: 3.2rem 4.8rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  width: max-content;
  max-width: 100vw;
  border-radius: 8px;
  justify-self: center;
  height: fit-content;
  background: #fafafa;
  align-self: center;
  transform: translateY(-5vh);
}
@media screen and (max-width: 42.5em) {
  .section {
    padding: 2rem;
  }
}
.section .homework {
  padding: 2.4rem;
  border: 1px solid var(--clr-bg-200);
  margin-top: 0.8rem;
  margin-bottom: 2.4rem;
}
.section.error {
  text-align: center;
}
@media screen and (max-width: 42.5em) {
  .section.error {
    text-align: left;
  }
}
.section.error p {
  line-height: 1.6;
  margin-bottom: 1.6rem;
}

.footer {
  height: 8.8rem;
}

/*# sourceMappingURL=main.css.map */
