.description {
  padding: var(--padding-todos);
  display: grid;
  grid-template-columns: var(--columns-todos);
  column-gap: var(--column-gap-todos);
}

// 680px
@media screen and (max-width: 42.5em) {
  .description {
    display: none;
  }
}
