.toggle-sidenav {
  display: none;
}
.sidenav {
  // width: 60rem;
  width: 32rem;
  padding: 3.2rem;
  background-color: var(--clr-bg-500);

  height: 100vh;

  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .link-back {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.6rem;
    span {
      font-size: inherit;
    }
  }

  .primary-nav {
    .nav-logo {
      height: 2.8rem;
      width: 2.8rem;

      svg {
        height: 2.8rem;
        width: 2.8rem;
      }
    }
    li {
      margin-bottom: 2.4rem;
      font-size: 1.6rem;

      a {
        color: var(--clr-text-600);
        display: flex;
        align-items: center;
        gap: 1.2rem;

        &.active {
          color: var(--clr-primary-600);
        }

        svg {
          height: 2.8rem;
          width: 2.8rem;
        }
      }

      ul {
        margin-left: 4.2rem;
        li {
          margin-block: 0.6rem;
          font-size: 1.4rem;
          a {
            color: var(--clr-text-400);
          }
          ul {
            margin-left: 1.6rem;
            list-style: circle;
            margin-bottom: 2rem;

            li {
              font-size: 1.4rem;
              // ul {
              //   list-style: circle;
              //   li {
              //     margin-bottom: 1.8rem;
              //     a {
              //       font-size: 1.4rem;
              //     }
              //   }
              // }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .sidenav {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    width: 65vw;
    padding-block: 3.2rem;
    box-shadow: -4px 0 4px rgba(0, 0, 0, 0.15);

    transform: translateX(100%);
    transition: transform 0.65s ease-out;
    &.open {
      transform: translateX(0);

      .close {
        opacity: 1;
      }
    }

    .close {
      opacity: 0;
    }
  }

  .toggle-sidenav {
    display: block;
    position: fixed;
    top: 3rem;
    right: 3rem;
    // height: 3.2rem;
    // width: 3.2rem;
    z-index: 2;

    &.open {
      background-color: var(--clr-bg-400);
      box-shadow: var(--box-shadow);
    }
    svg {
      height: 3.2rem;
      width: 3.2rem;
    }
  }
}

@media (max-width: 600px) {
  .sidenav {
    width: 80vw;
  }
  .toggle-sidenav {
    right: 1.8rem;
    padding: 0.6rem;
  }
}
