.edit-lesson {
  width: 75vw;
  padding: 4.8rem;

  &__date {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    .wrapper-picker {
      background-color: var(--clr-bg-400);
      padding: 0.6rem;
    }
  }

  &__inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    &.loading {
      opacity: 0.3;
      pointer-events: none;
    }

    &__Lesson {
      .container--editor {
        height: 20rem;
      }
    }
  }

  &__buttons {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    justify-content: flex-end;
  }

  @media (max-width: 1084px) {
    width: 100vw;
  }

  @media (max-width: 42.5em) {
    // padding: 4.8rem 2rem;
    min-height: 100vh;
    &__inputs {
      grid-template-columns: 1fr;
      gap: 6.8rem;
    }
  }
}
