.container--new-lesson {
  .wrapper-date {
    display: flex;
    align-items: center;
    margin-bottom: 1.8rem;
  }
  .container--editor {
    height: 20rem;
  }
  & .btn--save {
    margin-top: 3.2rem;
    margin-left: auto;
  }

  input {
    cursor: pointer;
  }

  input[type='date']::-webkit-inner-spin-button,
  input[type='date']::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }

  .loading {
    opacity: 0.3;
    pointer-events: none;
  }
}
