.container--new-lesson {
  & .btn--save {
    margin-top: 3.2rem;
    margin-left: auto;
  }

  input[type='date']::-webkit-inner-spin-button,
  input[type='date']::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }

  textarea.loading {
    opacity: 0.3;
    pointer-events: none;
  }
}
