.rsw-editor {
  border: none !important;
  height: 100%;
  overflow: hidden;
  margin-top: 1rem;
  position: relative;
  padding-top: 2.8rem;
  height: 20rem;

  .rsw-toolbar {
    background-color: var(--clr-bg-200);
    justify-content: space-between;
    gap: 1rem;
    border: none;
    position: absolute;
    width: 100%;
    top: 0;

    .container--right,
    .container--left {
      display: flex;
    }

    .rsw-btn {
      color: var(--clr-text);
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover,
      &[data-active='true'] {
        background-color: var(--clr-bg-50);
      }
    }
  }
  .rsw-ce {
    padding: 1rem;
    background-color: var(--clr-bg-50);

    height: 100%;
    overflow-y: auto;
    white-space: pre-line;
    font-size: 1.5rem;
    & > * {
      color: var(--clr-text) !important;
    }

    ul {
      list-style: initial;
    }

    ul,
    ol {
      margin-left: 1.6rem;
    }

    a {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 42.5em) {
  .rsw-editor {
    .rsw-ce {
      font-size: 1.6rem;
    }
  }
}
