---
import Button from '../ui/Button.astro';
import Check from '../../assets/logos/check.astro';
---

<section class="section section--cta">
  <div class="wrapper-cta">
    <div class="container-left">
      <h2 class="heading-tertiary">Jetzt loslegen!</h2>
      <p>
        Account anlegen, Schüler:innen erfassen - und los geht’s! <br />Alles,
        was du dafür brauchst, ist eine gültige Email-Adresse.
      </p>
      <Button
        type="primary"
        link="https://app.eleno.net/?page=signup"
        target="_blank"
      >
        Anmelden
      </Button>
    </div>
    <div class="container-right">
      <div class="row">
        <div class="container-check">
          <Check />
        </div>
        <span>Kostenlose Anmeldung</span>
      </div>
      <div class="row">
        <div class="container-check">
          <Check />
        </div>
        <span>Keine Downloads</span>
      </div>
      <div class="row">
        <div class="container-check">
          <Check />
        </div>
        <span>Sofort starten</span>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .section--cta {
    padding-block: 12rem;
    .wrapper-cta {
      padding: 8rem;
      width: fit-content;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 8rem;
      background-color: rgba(71, 148, 174, 0.05);
      border-radius: 10px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      .container-left {
        .heading-tertiary {
          margin-bottom: 1.8rem;
        }
        p {
          font-size: 2rem;
          line-height: 1.5;
          margin-bottom: 2rem;
        }
      }

      .container-right {
        .row {
          display: flex;
          align-items: center;
          gap: 1.4rem;

          .container-check {
            flex: 0 0 2.3rem;
          }
          &:not(:last-of-type) {
            margin-bottom: 2.4rem;
          }
          span {
            font-size: 2rem;
          }
        }
      }
    }
  }

  @media (max-width: 680px) {
    .section--cta {
      .wrapper-cta {
        padding: 3.6rem 2rem;
        gap: 6.4rem;
      }
    }
  }
</style>
