---
import Logo from '../../assets/logos/logo.astro';
import Button from '../ui/Button.astro';
---

<section class="section section--hero">
  <div class="logo">
    <Logo />
  </div>
  <h1 class="heading--hero">
    <span class="text-emphasized">Smart</span>
    unterrichten - <br /> mit dem Fokus auf's Wesentliche
  </h1>
  <p class="subheading--hero">
    <span class="text-emphasized">Eleno</span> - Lektions-Tagebuch, Schülerverwaltung,
    Todos etc. Mit Eleno hast du alles in einem Tool vereint.
  </p>
  <div class="container--buttons">
    <Button
      type="primary"
      link="https://app.eleno.net/?page=signup"
      target="_blank"
    >
      Jetzt loslegen!
    </Button>
    <Button type="secondary" link="https://demo.eleno.net" target="_blank">
      Demo ausprobieren
    </Button>
  </div>
</section>

<style lang="scss">
  .section--hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 10rem;
    min-height: calc(100dvh - 7.9rem);

    .logo {
      width: clamp(8rem, 8vw, 12rem);
      margin-bottom: 3.2rem;
      svg {
        width: 100%;
      }
    }

    .heading--hero {
      font-size: clamp(3.6rem, 5vw, 8rem);
      font-weight: 400;
      line-height: 1.1;
      letter-spacing: -4.5px;
      text-align: center;
      margin-bottom: 4.8rem;
    }

    .subheading--hero {
      font-size: 2.8rem;
      text-align: center;
      max-width: 40ch;
      margin-bottom: 3.2rem;
    }

    .text-emphasized {
      font-size: inherit;
      color: var(--clr-primary-600);
    }

    .container--buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 3.2rem;
    }
  }

  @media (max-width: 1280px) {
    .section--hero {
      .heading--hero {
        letter-spacing: -3px;
      }
    }
  }

  @media (max-width: 940px) {
    .section--hero {
      .heading--hero {
        letter-spacing: -2.5px;
      }
    }
  }

  @media (max-width: 680px) {
    .section--hero {
      padding-block: 6.4rem;
      min-height: 100dvh;
      .heading--hero {
        // font-size: 5.2rem;
        letter-spacing: -2px;
      }
      .subheading--hero {
        font-size: 2.4rem;
      }

      .container--buttons {
        gap: 2rem;
      }
    }
  }
</style>
