.manual {
  height: 100vh;
  display: flex;
  .wrapper-content {
    margin-left: 32rem;
    background-color: var(--clr-bg-400);
    width: 100%;
    // height: 100%;
    min-height: 100%;
    padding-inline: 5.2rem;
    overflow-y: auto;
    scroll-behavior: smooth;

    .container {
      max-width: 100ch;
      margin: 0 auto;
      padding: 3.2rem;

      .flex {
        display: flex;
        gap: 3.2rem;
        flex-wrap: wrap;

        .wrapper-image {
          max-width: 50%;
        }
      }
    }

    // display: grid;

    // margin-left: 20rem;
    .heading-1 {
      display: flex;
      align-items: center;
      gap: 0.4em;
    }

    .heading-2 {
      position: relative;
      padding-top: 2rem;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: var(--clr-darkgrey);
      }
    }
    p {
      font-size: 1.6rem;

      line-height: 1.6;
    }

    .list {
      list-style: initial;
      li {
        font-size: 1.5rem;
      }
    }
  }
}
