.manual {
  height: 100vh;
  display: flex;
  position: relative;
  .wrapper-content {
    background-color: var(--clr-bg-400);
    width: 100%;
    // height: 100%;
    min-height: 100%;
    // padding-inline: 5.2rem;
    overflow-y: auto;
    scroll-behavior: smooth;

    .container {
      max-width: 100ch;
      margin: 0 auto;
      padding: 3.2rem 2.4rem;

      ul {
        margin-bottom: 1.5rem;
        li {
          margin-left: 1.6rem;
        }
      }

      .flex {
        display: flex;
        gap: 3.2rem;
        flex-wrap: wrap;

        .wrapper-image {
          max-width: 50%;
        }
      }
    }

    // display: grid;

    // margin-left: 20rem;
    .heading-1 {
      display: flex;
      align-items: center;
      gap: 0.4em;
    }

    .heading-2 {
      position: relative;
      padding-top: 2rem;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: var(--clr-darkgrey);
      }
    }
    p {
      font-size: 1.6rem;

      line-height: 1.6;
    }

    .list {
      list-style: initial;
      li {
        font-size: 1.5rem;
      }
    }
  }
}
@media (max-width: 800px) {
  .manual {
    display: block;
  }
}

@media (max-width: 600px) {
  .manual {
    .heading-1 {
      font-size: 2.6rem;
    }

    .heading-2 {
      font-size: 2rem;
    }

    .heading-3 {
      font-size: 1.8rem;
    }
    .wrapper-content {
      .container {
        padding: 3.2rem 1.8rem;
        .flex {
          flex-direction: column;
          gap: 0;

          .wrapper-image {
            max-width: 100%;
          }
        }
      }
    }
  }
}
