.edit-note {
  padding: 4.8rem;
  width: 50vw;

  &.loading {
    opacity: 0.3;
    pointer-events: none;
  }

  &__title {
    margin-bottom: 2rem;
  }

  .container--editor {
    height: 20rem;
    margin-bottom: 2.4rem;
  }

  &__buttons {
    margin-top: 2rem;
    display: flex;
    align-items: flex-end;
    gap: 1.6rem;
    justify-content: space-between;

    .buttons-left {
    }

    .buttons-right {
      display: flex;
      align-items: center;
      gap: 1.6rem;
    }
  }
}

@media screen and (max-width: 64em) {
  .edit-note {
    width: 75vw;
  }
}

@media screen and (max-width: 42.5em) {
  .edit-note {
    &__buttons {
      flex-direction: column;
      align-items: flex-end;
      gap: 3rem;
    }
  }
}
