---
import PageLayout from '../components/layouts/PageLayout.astro';
import Manual from '../../../app/src/pages/manual/Manual';
---

<PageLayout>
  <div class="wrapper-docs">
    <Manual />
  </div>
</PageLayout>

<style lang="scss">
  .wrapper-docs {
    margin: 0 auto;
    // padding: 0 4rem;
    cd .manual {
      width: fit-content;
      background-color: red;
    }
  }
</style>
