---
import PageLayout from '../components/layouts/PageLayout.astro';
import Hero from '../components/sections/Hero.section.astro';
import Advantages from '../components/sections/Advantages.section.astro';
import Features from '../components/sections/Features.section.astro';
import Cta from '../components/sections/Cta.section.astro';
import PrivacyPolicy from '../../../app/src/components/privacyPolicy/PrivacyPolicy.component';
---

<PageLayout>
  <main>
    <div class="section">
      <PrivacyPolicy />
    </div>
  </main>
</PageLayout>

<style>
  .section {
    padding: 4rem 2rem;
  }
</style>
