---
import PageLayout from '../components/layouts/PageLayout.astro';

import TermsAndConditions from '../../../app/src/components/termsAndConditions/TermsAndConditions.component';
---

<PageLayout>
  <main>
    <div class="section">
      <TermsAndConditions />
    </div>
  </main>
</PageLayout>

<style>
  .section {
    padding: 4rem 2rem;
  }
</style>
