---
import PageLayout from '../components/layouts/PageLayout.astro';

import TermsAndConditions from '../../../app/src/components/termsAndConditions/TermsAndConditions.component';
---

<PageLayout>
  <main>
    <div class="section">
      <h1 class="heading-primary">Allgemeine Geschäftsbestimmungen</h1>
      <TermsAndConditions />
    </div>
  </main>
</PageLayout>

<style lang="scss">
  .section {
    padding: 4rem 2rem;
    margin: 0 auto;
    max-width: 95rem;

    .heading-primary {
      margin-bottom: 3.2rem;
    }
  }

  @media (max-width: 680px) {
    .section {
      .heading-primary {
        max-width: 66%;
      }
    }
  }
</style>
