.manual-footer {
  display: flex;
  justify-content: space-between;

  a:link,
  a:visited {
    display: flex;
    align-items: center;
    gap: 0.6rem;

    font-size: 1.8rem;
    span {
      font-size: 1.8rem;
    }
  }

  a:hover,
  a:active {
    color: var(--clr-primary-600);
  }
}
