.menu {
  position: relative;

  &__toggle {
    &.with-label {
      display: flex;
      align-items: center;
      gap: 3px;
      border: 1px solid var(--clr-primary-600);
      padding: 0.6rem 1.2rem;
      border-radius: 4px;

      &:disabled {
        color: darkgray;
        border: 1px solid darkgray;
        cursor: unset;
      }
      // color: var(--clr-text);
    }
    cursor: pointer;
    color: var(--clr-primary-600);
    svg {
      stroke: var(--clr-primary-600);

      @media screen and (max-width: 42.5em) {
        width: 2rem;
        height: 1.6rem;
      }
    }
  }

  &__list {
    position: fixed;

    z-index: 1000;

    &::-webkit-scrollbar {
      width: 0;
    }
    scrollbar-width: none;

    background-color: var(--clr-bg-50);
    border: 1px solid var(--clr-bg-200);
    min-width: 20rem;

    // overflow-y: auto;
    overflow: auto;
    padding: 0.8rem;
    box-shadow: rgb(38, 57, 77, 0.5) 0px 20px 30px -10px;

    hr {
      margin: 8px 0;
      border-top: 1px solid var(--clr-bg-100);
      border-bottom: 0;
    }
  }

  &__button {
    cursor: pointer;
    display: flex;
    gap: 0.8rem;
    align-items: center;
    padding: 0.6rem;
    width: 100%;

    &:hover {
      background-color: rgba(146, 195, 211, 0.1);
    }
  }
}
