.description {
  padding: var(--padding-todos);
  display: grid;
  grid-template-columns: var(--columns-todos);
  column-gap: var(--column-gap-todos);
}

@media (max-width: 680px) {
  .description {
    display: none;
  }
}
