doctype html
html(lang = 'de')
  head
    title Eleno - Hausaufgaben
    link(rel='stylesheet' href= '/css/main.css')
    link(rel='icon' type='image/x-icon' href='/favicon.svg')
  body
    header.header
      .logo
        img(src='/logo.svg')
    block content
    footer.footer



