extends base.pug

block content 
  section.section.error
    h2.heading-2 Hmmm, da stimmt was nicht... 🤔
    p Der Link, den du benutzt hast, scheint nicht zu funktionieren. 
    b Wende dich an deine Lehrperson und bitte sie, ihn dir nochmal zu schicken.