extends base.pug
block content 
  section.section
    h2.heading-2 Hausaufgaben vom #{date}
    p Hallo #{students.firstName}
    p Hier sind deine Hausaufgaben:
    .homework !{homework}
    p Viel Spass und bis zum nächsten Mal.