.modal--edit-lesson {
  width: 75vw;

  .container-date {
    margin-bottom: 2rem;
  }

  input[type='date']::-webkit-inner-spin-button,
  input[type='date']::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
  .container--edit-lesson {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    .container--editor {
      height: 20rem;
    }
    &.loading {
      opacity: 0.3;
      pointer-events: none;
    }
  }

  .container-buttons {
    justify-content: end;
  }
}
