.news {
  grid-area: aside;
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.8rem;
    background-color: inherit;
  }

  .wrapper-news {
    height: 100%;
    overflow-y: auto;
    padding-bottom: 8rem;
    margin-bottom: 18rem;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
  .news-item {
    .date {
      color: var(--clr-text-200);
    }

    .heading-4 {
      margin-bottom: 0.8rem;
    }

    .news-text {
      margin-bottom: 0;
      max-width: 60ch;
    }

    p {
      margin-bottom: 1em;
    }

    a {
      text-decoration: underline;
      color: var(--clr-primary-600);
    }

    &:not(:last-child) {
      padding-bottom: 2.8rem;
      margin-bottom: 2.8rem;
      border-bottom: 1px solid var(--clr-bg-600);
    }
  }

  @media screen and (max-width: 56.25em) {
    height: max-content;

    .wrapper-news {
      padding-bottom: 0;
      margin-bottom: 0;
      max-height: 50rem;
    }
  }
}
