.container--new-lesson {
  .wrapper-date {
    display: flex;
    align-items: center;
    margin-bottom: 1.8rem;
  }

  .wrapper-picker {
    margin-left: 1rem;
    padding: 0.6rem;
    background-color: var(--clr-bg-400);
  }

  .heading-5 {
    color: var(--clr-text-200);
  }
  .container--editor {
  }
  & .btn--save {
    margin-top: 3.2rem;
    margin-left: auto;
  }

  input {
    cursor: pointer;
    font-size: 1.6rem;
  }

  input[type='date']::-webkit-inner-spin-button,
  input[type='date']::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }

  .loading {
    opacity: 0.3;
    pointer-events: none;
  }
}
