.date-picker {
  position: relative;
  display: flex;
  justify-content: center;

  &__btn-open {
    color: var(--clr-primary-600);
    svg {
      height: 2rem;
      width: 2rem;
    }
  }

  &__date {
    font-size: 1.4rem;

    cursor: pointer;
  }
  &__calendar {
    position: fixed;
    top: 95%;

    background-color: var(--clr-bg-100);
    z-index: 1000;
    box-shadow: var(--box-shadow-cards);

    .rdp-day_selected {
      background-color: var(--clr-primary-600);
    }

    .rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
      border: 1px solid var(--clr-primary-400);
      background-color: transparent;
    }

    .rdp-day_today:not(.rdp-day_selected) {
      color: var(--clr-primary-600);
      border: 1px solid var(--clr-primary-400);
    }
  }
}
