.container--add {
  --grid-container-add: 1fr repeat(3, auto);
  margin-bottom: 4.2rem;

  &.loading {
    opacity: 0.4;
    pointer-events: none;
  }

  .btn-remove {
    position: absolute;
    background-color: var(--clr-primary-400);
    border-radius: 50%;
    top: 0;
    right: 0;
    transform: translate(calc(100% + 0.3rem), 50%);

    svg {
      color: var(--clr-bg-400);
      height: 1rem;
      width: 1rem;
    }
  }

  .inputs {
    background-color: var(--clr-bg-400);
    margin-bottom: 2.4rem;
    padding: 0.8rem;
    display: grid;
    grid-template-columns: var(--grid-container-add);
    align-items: center;
    justify-items: center;
    column-gap: 3.6rem;
    input {
      font-size: 1.6rem;
    }

    &:hover {
      .btn-remove {
        opacity: 1;
        pointer-events: all;
        visibility: visible;
      }
    }
  }
}

@media (max-width: 680px) {
  .container--add {
    .inputs {
      display: flex;
      flex-wrap: wrap;
      gap: 0.8rem;

      .add-student {
        padding: 0.8rem;
      }

      .btn-save {
        margin-left: auto;
      }

      .btn-remove {
        transform: translate(calc(100% + 0.4rem), 50%);
      }
    }
  }
}
