.navigate-to-student {
  position: absolute;
  bottom: 4rem;

  // right: 12rem;
  right: 0;

  background-color: var(--clr-bg-50);
  border: 1px solid var(--clr-bg-200);

  box-shadow: var(--box-shadow);

  .student-list {
    max-height: 25rem;
    padding: 0.8rem;

    overflow-y: auto;
    display: flex;
    flex-direction: column;
    // gap: 0.8rem;

    align-items: flex-start;
    li {
      width: 17rem;
    }

    .non-found {
      color: var(--clr-darkgrey);
      font-style: italic;
      padding-block: 1rem;
    }
  }

  .input-search {
    padding: 1.4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
  }

  button {
    padding: 0.6rem;
    width: 100%;
    text-align: left;

    &:hover {
      background-color: rgba(146, 195, 211, 0.1);
    }
  }
}

@media screen and (max-width: 42.5em) {
  .navigate-to-student {
    display: none;
  }
}
