.wrapper--forgot-pw {
  .reset-message {
    display: block;
    font-size: 16px;
    text-align: center;
  }

  .button--remembered {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .wrapper--forgot-pw {
    width: 80vw;
  }
}
