.btn-remove {
  margin-left: 0.4rem;
  background-color: var(--clr-primary-400);
  border-radius: 50%;
  top: 0;
  right: 0;

  svg {
    color: var(--clr-bg-50);
    height: 1rem;
    width: 1rem;
  }
}
