.modal--edit-lesson {
  width: 60vw;

  .container-date {
    margin-bottom: 2rem;
  }
  .container--edit-lesson {
    display: flex;
    gap: 2rem;
    &.loading {
      opacity: 0.3;
    }
  }

  .container-buttons {
    justify-content: end;
  }
}
