.add-student {
  position: relative;

  &__wrapper {
    position: relative;
  }
  &__student {
    padding: 0.6rem 1.2rem;
    background-color: var(--clr-primary-600);
    color: var(--clr-white);
    width: fit-content;
    cursor: pointer;
  }

  &__icon {
    height: 2.4rem;
    width: 2.4rem;
    svg {
      height: 100%;
      width: 100%;
    }
  }
}
