.App {
  display: flex;
  height: 100%;
  min-height: 100vh;
  position: relative;
}

#main {
  margin-left: 6rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: calc(100vw - 6.5rem);

  // 680px
  @media screen and (max-width: 42.5em) {
    max-width: unset;
  }
}

.container {
  padding: 2rem 3.2rem;

  // 1024px
  @media screen and (max-width: 64em) {
    padding: 2rem;
  }
}

.container--login {
  display: grid;
  width: 100%;
  place-content: center;
}

.container--loader:not(:empty) {
  width: 100%;
  padding-block: 15%;
  display: grid;
  place-content: center;
}

.container--error {
  padding-top: 1rem;
  color: var(--clr-warning);
}

.container--infos {
  p {
    font-size: 1.2rem;
    color: var(--clr-text);
    margin-bottom: 1.2rem;
  }
}

.error-message {
  font-size: 1.4rem;
  min-height: 2rem;
  margin-right: auto;

  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--clr-warning);
}

// 680px
@media screen and (max-width: 42.5em) {
  *::-webkit-scrollbar,
  *::-webkit-scrollbar-track,
  *::-webkit-scrollbar-thumb {
    width: 0 !important;
    color: transparent;
  }
  .App {
    display: block;
    overflow-x: hidden;
    height: fit-content;
  }
  #main {
    margin-left: 0;
    display: block;
    margin-bottom: 6rem;
  }

  .container {
    padding: 2rem 1.4rem;
  }

  .container--loader:not(:empty) {
    height: 100vw;
    width: 100vw;
  }
}
