@font-face {
  font-family: 'DM Sans';
  src: url('../assets/fonts/DM_Sans/DMSans-Regular.eot');
  src: url('../assets/fonts/DM_Sans/DMSans-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../assets/fonts/DM_Sans/DMSans-Regular.woff2') format('woff2'),
    url('../assets/fonts/DM_Sans/DMSans-Regular.woff') format('woff'),
    url('../assets/fonts/DM_Sans/DMSans-Regular.ttf') format('truetype'),
    url('../assets/fonts/DM_Sans/DMSans-Regular.svg#DMSans-Regular')
      format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../assets/fonts/DM_Sans/DMSans-Medium.eot');
  src: url('../assets/fonts/DM_Sans/DMSans-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('../assets/fonts/DM_Sans/DMSans-Medium.woff2') format('woff2'),
    url('../assets/fonts/DM_Sans/DMSans-Medium.woff') format('woff'),
    url('../assets/fonts/DM_Sans/DMSans-Medium.ttf') format('truetype'),
    url('../assets/fonts/DM_Sans/DMSans-Medium.svg#DMSans-Regular')
      format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../assets/fonts/DM_Sans/DMSans-Bold.eot');
  src: url('../assets/fonts/DM_Sans/DMSans-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('../assets/fonts/DM_Sans/DMSans-Bold.woff2') format('woff2'),
    url('../assets/fonts/DM_Sans/DMSans-Bold.woff') format('woff'),
    url('../assets/fonts/DM_Sans/DMSans-Bold.ttf') format('truetype'),
    url('../assets/fonts/DM_Sans/DMSans-Bold.svg#DMSans-Regular') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Serif Japanese';
  src: url('../assets/fonts/Noto_Serif_Japanese/NotoSerifJP-ExtraLight.eot');
  src: url('../assets/fonts/Noto_Serif_Japanese/NotoSerifJP-ExtraLight.eot?#iefix')
      format('embedded-opentype'),
    url('../assets/fonts/Noto_Serif_Japanese/NotoSerifJP-ExtraLight.woff2')
      format('woff2'),
    url('../assets/fonts/Noto_Serif_Japanese/NotoSerifJP-ExtraLight.woff')
      format('woff'),
    url('../assets/fonts/Noto_Serif_Japanese/NotoSerifJP-ExtraLight.ttf')
      format('truetype'),
    url('../assets/fonts/Noto_Serif_Japanese/NotoSerifJP-ExtraLight.svg#DMSans-Regular')
      format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
