@import url('./fonts.scss');
@import url('./typography.scss');

:root {
  // --clr-primary-600: hsl(195, 43%, 39%);
  --clr-primary-800: #387589;
  --clr-primary-600: #4794ae;
  --clr-primary-400: hsl(195, 42%, 70%);
  // --clr-primary-400: hsl(195, 43%, 90%);
  --clr-text-200: #b7b8b8;
  --clr-text-400: #d5d6d7;
  --clr-text-600: #f1f1f1;
  --clr-warning: rgb(193, 70, 70);
  // --clr-warning: #eb6898;
  --clr-darkgrey: #aaa;
  --clr-grey-400: #f0f0f0;
  --clr-grey-300: #f3f3f3;
  --clr-grey-200: #f8f9fa;
  --clr-white: #ffffff;
  --clr-bg-600: #2f343a;
  --clr-bg-500: #343a40;
  --clr-bg-400: #484e53;

  --toastify-color-dark: var(--clr-bg-400) !important;
  --toastify-text-color-dark: var(--clr-text-400) !important;

  --toastify-color-progress-dark: var(--clr-primary-600) !important;

  --box-shadow: 4px 0 12px rgba(0, 0, 0, 0.1);
  --box-shadow-cards: 0 1px 5px rgba(0, 0, 0, 0.08),
    0 2px 2px rgba(0, 0, 0, 0.14);
}

@media (prefers-color-scheme: light) {
  :root {
    --clr-primary-800: #387589;
    --clr-primary-600: #4794ae;
    --clr-primary-400: hsl(195, 42%, 70%);

    --clr-bg-400: #faf9f9;
    --clr-bg-500: #eeeeee;
    --clr-bg-600: #e7e7e7;
    --clr-text-200: #6f6f6f;
    --clr-text-400: #454545;
    --clr-text-600: #202020;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  background-color: var(--clr-bg-500);
  color: var(--clr-text-400);
}

img,
svg,
picture {
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

hr {
  // border-color: var(--clr-bg-400);
  margin: 1.8rem 0;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
}

p,
strong,
span {
  font-size: 1.4rem;
  // margin-bottom: 1.5em;
  line-height: 1.5;
}

p {
  margin-bottom: 1.5em;
}

select:not([disabled]) {
  cursor: pointer;
}

input,
textarea {
  width: 100%;
}

input,
textarea,
select {
  // width: 100%;
  display: block;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: var(--clr-bg-400);
  border: none;

  padding: 0.8rem;

  resize: none;
  outline: none;
}

select {
  appearance: none;
  border-radius: 0;
  position: relative;

  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' height='10px' width='15px'%3E%3Ctext x='0' y='10' fill='gray'%3E%E2%96%BE%3C/text%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right center;
  background-clip: border-box;
  -moz-background-clip: border-box;
  -webkit-background-clip: border-box;
}

input,
textarea {
  &.input--error {
    outline: 1px solid var(--clr-warning);
  }
}

input[type='time']::-webkit-calendar-picker-indicator {
  display: none;
}

input[type='date']::-webkit-calendar-picker-indicator {
  filter: invert(45%) sepia(100%) saturate(234%) hue-rotate(149deg)
    brightness(97%) contrast(93%);
  margin-left: -2rem;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.App {
  display: flex;
  height: 100%;
  min-height: 100vh;
  position: relative;
}

#main {
  margin-left: 6.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container {
  padding: 2rem 3.2rem;
  // background-color: var(--clr-bg-400);
}

.container--login {
  display: grid;
  width: 100%;
  place-content: center;
}

.container--loader:not(:empty) {
  // height: 100vh;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

.container--error {
  padding-top: 1rem;
  color: var(--clr-warning);
}

.container--infos {
  // padding-block: 0.2rem;
  p {
    font-size: 1.2rem;
    color: var(--clr-text-400);
    margin-bottom: 1.2rem;
  }
}

.error--message {
  font-size: 1.4rem;
  min-height: 2rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--clr-warning);
}

@media (max-width: 480px) {
  *::-webkit-scrollbar,
  *::-webkit-scrollbar-track,
  *::-webkit-scrollbar-thumb {
    width: 0 !important;
    color: transparent;
  }
  .App {
    display: block;
    overflow-x: hidden;
    height: fit-content;
    // background-color: red;
  }
  #main {
    margin-left: 0;
    display: block;
    margin-bottom: 6rem;
  }

  .container {
    padding: 2rem 1.4rem;
  }

  .container--loader:not(:empty) {
    height: 100vw;
    width: 100vw;
  }
}
