.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
 position: relative;

}

.heading input {
 font-size: 1.6rem;
 padding: .4rem .8rem .4rem 3rem;
}

.icon-search{
  position: absolute;
  top: 3rem;
  right: 18.5rem;
}



table {
  border: 1px solid #eee;
  border-collapse: collapse;
  font-size: 1.6rem;
  width: 100%;
}

th {
  padding: .4rem .8rem;
  font-weight: bold;
}

th, td {
  text-align: left;
}
th{
  font-size: 1.8rem;
}

td input, td select {
  font-size: inherit;
  border: none;
  padding: .4rem .8rem;
  background-color: transparent; 
  line-height: 2;
}

td input:focus-visible, td select:focus-visible{
  outline: none;
  box-shadow: 0 1px 0 rgba(0 0 0/.2);
  background-color: #fff;
} 


input[type="time"] {
  font-family: inherit;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

tbody tr:nth-child(odd) {
  background-color: #eee;
}

.input-time {
  width: 4rem;
}

.input-duration{
  width: 1.8rem;
}

.input-location {
  width: 20rem;
}

table .icon {
  height: 2rem;
  width: 2rem
}

table .icon-add {
  stroke: var(--clr-primary);
}