.student-list {
  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.8rem;

    .container-right {
      display: flex;
      align-items: center;
      position: relative;

      input {
      font-size: 1.6rem;
      padding: .4rem .8rem .4rem 3rem;
      }

      .icon-search{
        position: absolute;
        top: 30%;
        left: 1.2rem;
      }

      .button-add-student {
        padding: .8rem;
        margin-left: 1.2rem;
        background-color: var(--clr-primary);
        color: #fff;
        border-radius: .5rem;
        display: flex;
        align-items: center;
        gap: .8rem;

        .icon-add {
          display: block;
          height: 2rem;
          width: 2rem;
        }

        &.disabled {
          background-color: #ddd;
          pointer-events: none;

        }
      }
      
    }
    

  }


}

.student-list-table {
  border: 1px solid #eee;
  border-collapse: collapse;
  font-size: 1.6rem;
  width: 100%;

  th {
    padding: .4rem .8rem;
    font-weight: bold;
    font-size: 1.8rem;

  }

  th, td {
  text-align: left;
  }

  td input, td select {
    font-size: inherit;
    border: none;
    padding: .4rem .8rem;
    background-color: transparent; 
    line-height: 2;
  }

  td input:focus-visible, td select:focus-visible{
    outline: none;
    background-color: #fff;
  }

  input[type="time"] {
    font-family: inherit;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }

  tbody tr:nth-child(odd) {
    background-color: #eee;
  }

  .input-time {
    width: 4rem;
  }

  .input-duration{
      width: 2rem;
      padding: 0;
    }

  .input-location {
      width: 20rem;
    }

  .icon {
    height: 2rem;
    width: 2rem;
    color: var(--clr-primary);
  }

  .icon-add {
    stroke: var(--clr-primary);
  }

  &.add-new {
    margin-top: 4rem;;
  }

}

.new-student-row {
  line-height: 4;
  border: 2px solid var(--clr-primary);
  padding: 2rem;

  .new-student-buttons {
    display: flex;
    align-items: center;
    gap: 1.8rem;
    margin-right: .8rem;

   

    .btn-delete {
      background-color: var(--clr-primary-bright);
      padding: 0;
      height: 1.8rem;
      width: 1.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }

    .icon-delete {
      color: var(--clr-primary);
    }
  }

  
  
}

 .btn-save {
      background-color: var(--clr-primary);
      padding: .8rem;
      color: #fff;
      border-radius: .5rem;
      font-size: 1.6rem;
      margin-top: 1.2rem;
      margin-left: auto;
      float: right;
    }

