.note {
  position: relative;
  margin-top: 2.4rem;
  // min-height: 18rem;
  line-height: 2;
  background-color: var(--clr-bg-400);
  padding: 1.6rem;
  // padding-bottom: 3.2rem;
  white-space: pre-wrap;
  box-shadow: var(--box-shadow-cards);

  .container--edit-button {
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
  }

  .heading-5 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 0.8em;
  }

  .button--edit-note {
    svg {
      height: 1.4rem;
      width: 1.4rem;
    }
  }
}
