.add-todo {
  --grid-container-add: 1fr repeat(3, auto);
  margin-block: 2rem;

  &.loading {
    opacity: 0.4;
    pointer-events: none;
  }

  .inputs {
    background-color: var(--clr-bg-50);

    padding: 0.8rem;
    display: grid;
    grid-template-columns: var(--grid-container-add);
    align-items: center;
    justify-items: center;
    column-gap: 3.6rem;

    input {
      font-size: 1.6rem;
    }

    // 680px
    @media screen and (max-width: 42.5em) {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      gap: 1.4rem;
      background-color: inherit;

      input {
        flex: 1 0 100%;
      }
      .btn-save {
        margin-left: auto;
      }
    }
  }
}
