.login-page {
  width: 100%;
  display: grid;
  place-content: center;
  background-color: var(--clr-bg-600);
  font-size: 1.8rem;
  padding: 3rem 0;

  .heading-1 {
    text-align: center;
    margin-bottom: 3.2rem;
  }

  .container--logo {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    svg {
      height: 6rem;
      rect {
        fill: var(--clr-bg-500);
      }
    }
  }

  .card-login {
    position: relative;
    margin: 0 auto;
    padding: 3.2rem;
    border-radius: 8px;
    min-width: 45rem;
    column-gap: 4.8rem;
    background-color: var(--clr-bg-500);
    align-items: center;

    .wrapper {
      .heading-4 {
        margin-bottom: 2rem;
      }
      .form {
        display: grid;
        row-gap: 2rem;
        column-gap: 2rem;
        margin-bottom: 4rem;

        .form-item {
          display: grid;
          row-gap: 0.8rem;

          .password-details {
            font-size: 1rem;
          }
        }

        .button {
          margin: 0 auto;
          font-size: inherit;
        }
      }
    }
  }

  .modal--privacy-policy,
  .modal--terms {
    width: 95vw;
  }

  .container--links {
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
  }
  .terms,
  .privacy {
    font-size: 1.4rem;

    ol {
      margin-bottom: 3.2rem;
    }

    ol li {
      margin-left: 1em;
      margin-bottom: 1em;
    }
  }
  a:link,
  a:visited {
    color: var(--clr-primary-600);
    font-weight: 500;
  }
  a:active,
  a:hover {
    color: var(--clr-primary-800);
  }
}

@media (max-width: 480px) {
  .login-page {
    padding: 1.2rem;
    font-size: 1.6rem;

    .container--logo {
      svg {
        height: 4rem;
      }
    }

    .card-login {
      min-width: unset;
      width: 100%;
      padding: 2rem;
    }

    .modal--privacy-policy,
    .modal--terms {
      width: 100%;
      height: 100%;
      .modal {
        max-height: 100vh;
        padding-inline: 1.8rem;
      }
      .terms,
      .privacy {
        font-size: 1.2rem;
      }
    }
  }
}
