.search-bar {
  position: relative;
  height: fit-content;
  &__input {
    font-size: 1.6rem;
    padding: 0.4rem 0.8rem 0.4rem 3.5rem;
    background-color: var(--clr-bg-400);
    color: var(--clr-text-400);
    border: none;
    &:focus {
      outline: none;
      box-shadow: inset 1px 1px 0 var(--clr-primary-600),
        inset -1px -1px 0 var(--clr-primary-600);
    }
  }
  .icon-search {
    position: absolute;
    top: 30%;
    left: 1.2rem;
  }
}
