.container--header {
  grid-column: 1/-1;
  display: flex;
  // background-color: var(--clr-bg-500);
  // align-items: start;
  // justify-content: space-between;
  gap: 2.4rem;
  border-bottom: 0.1px solid var(--clr-bg-400);

  .container--buttons {
    position: relative;
    display: flex;

    .button--dropdown {
      svg {
        color: var(--clr-primary-600);
      }
      position: relative;
    }
  }

  &:hover .button {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }

  .row-1 {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.8rem;

    .student-name {
      color: var(--clr-text-600);
      display: flex;
      align-items: center;
      gap: 1.2rem;
      font-weight: 500;
      font-size: 2rem;
      letter-spacing: -1px;
      margin-right: 1.8rem;

      .icon {
        color: var(--clr-primary-600);
        width: 2.4rem;
        height: 2.4rem;
      }
    }
  }

  .modal--add-todo {
    .modal {
      overflow: visible;
      width: 80vw;
    }
  }
}

@media (max-width: 1084px) {
  .container--header {
    .modal--add-todo {
      .modal {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .container--header {
    .button--dropdown {
      display: none;
      pointer-events: none;
      visibility: hidden;
    }
  }
}
