.container--header {
  grid-column: 1/-1;
  display: flex;
  padding-right: 1.6rem;

  gap: 2.4rem;
  border-bottom: 0.1px solid var(--clr-bg-400);
  .wrapper-center {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
  }

  .button-repertoire {
    padding: 0.8rem;
    background-color: var(--clr-bg-400);
    display: flex;
    align-items: center;
    gap: 0.8rem;
    svg {
      height: 2rem;
      width: 2rem;
      color: var(--clr-primary-600);
    }
    span {
      line-height: unset;
    }
  }

  .row-1 {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-bottom: 1.8rem;

    .student-name {
      color: var(--clr-text-600);
      display: flex;
      align-items: center;
      gap: 1.2rem;
      font-weight: 500;
      font-size: 2rem;
      letter-spacing: -1px;

      .icon {
        color: var(--clr-primary-600);
        width: 2.4rem;
        height: 2.4rem;
      }
    }
  }
}

// 1084px
@media screen and (max-width: 67.75em) {
  .container--header {
    .wrapper-center {
      width: 100%;
    }
  }
}

// 680px
@media screen and (max-width: 42.5em) {
  .container--header {
    .container--buttons {
      display: none;
      pointer-events: none;
      visibility: hidden;
    }
  }

  .button-repertoire {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
}
