.container--header {
  grid-column: 1/-1;
  display: flex;
  // background-color: var(--clr-bg-500);
  // align-items: start;
  // justify-content: space-between;
  gap: 2.4rem;
  border-bottom: 0.1px solid var(--clr-bg-400);

  .button--edit-student {
    color: var(--clr-primary-600);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity ease 0.45s;
    svg {
      height: 2rem;
      width: 2rem;
    }
  }

  &:hover .button--edit-student {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }

  .row-1 {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.8rem;

    .student-name {
      color: var(--clr-text-600);
      display: flex;
      align-items: center;
      gap: 1.2rem;
      font-weight: 500;
      font-size: 2rem;
      letter-spacing: -1px;
      margin-right: 1.8rem;

      .icon {
        color: var(--clr-primary-600);
        width: 2.4rem;
        height: 2.4rem;
      }
    }
  }
}
