.student-list {
  position: relative;
  // max-height: calc(100vh - 50rem);
  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.8rem;

    .select-action {
      color: var(--clr-text);
      background-color: var(--clr-bg-black-400);
      font-size: inherit;

      &:focus {
        outline: none;
      }
    }

    .container-right {
      display: flex;
      gap: 3.2rem;
      align-items: center;
      position: relative;

      .input--search {
        font-size: 1.6rem;
        padding: 0.4rem 0.8rem 0.4rem 3rem;
        background-color: var(--clr-bg-black-400);
        color: var(--clr-text);
        border: none;

        &:focus {
          outline: none;
          box-shadow: inset 1px 1px 0 var(--clr-primary),
            inset -1px -1px 0 var(--clr-primary);
        }
      }

      .icon-search {
        position: absolute;
        top: 30%;
        left: 1.2rem;
      }

      .button-add-student {
        padding: 0.8rem;
        margin-left: 1.2rem;
        background-color: var(--clr-primary);
        color: #fff;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        gap: 0.8rem;

        .icon-add {
          display: block;
          height: 2rem;
          width: 2rem;
        }

        &.disabled {
          background-color: #ddd;
          pointer-events: none;
        }
      }
    }
  }

  .count-students {
    margin-top: 2.4rem;
  }
}

.student-list-table {
  border-collapse: collapse;
  border: none;
  font-size: 1.6rem;
  display: block;
  max-height: 45vh;
  overflow-y: scroll;
  width: 100%;
  white-space: nowrap;

  &::-webkit-scrollbar {
    width: 5px;
  }

  thead {
    position: sticky;
    top: 0;
    background-color: var(--clr-bg-black-600);
  }

  th {
    padding: 0.4rem 0;
    font-weight: bold;
    font-size: 1.8rem;
    width: 100%;

    // background-color: var(--clr-white);
    border-bottom: 1px solid var(--clr-bg-black-400);
  }

  th:first-child {
    padding: 0.4rem 0.8rem;
    width: 1rem;
  }

  th {
    text-align: left;
  }

  .th--firstName,
  .th--lastName,
  .th--instrument,
  .th--day {
    width: 10ch;
  }

  .th--duration {
    padding-right: 10rem;
  }

  tbody tr:nth-child(odd):not(.new-student-row) {
    background-color: var(--clr-bg-black-400);
  }

  .icon {
    height: 2rem;
    width: 2rem;
    color: var(--clr-primary);
  }

  .icon-add {
    stroke: var(--clr-primary);
  }

  &.add-new {
    margin-top: 4rem;
  }
}
