.student-list {
  position: relative;
  // min-height: calc(100vh - 12.2rem);
  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.8rem;

    .container-right {
      display: flex;
      gap: 3.2rem;
      align-items: center;
      position: relative;

      input {
        font-size: 1.6rem;
        padding: 0.4rem 0.8rem 0.4rem 3rem;
      }

      .icon-search {
        position: absolute;
        top: 30%;
        left: 1.2rem;
      }

      .button-add-student {
        padding: 0.8rem;
        margin-left: 1.2rem;
        background-color: var(--clr-primary);
        color: #fff;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        gap: 0.8rem;

        .icon-add {
          display: block;
          height: 2rem;
          width: 2rem;
        }

        &.disabled {
          background-color: #ddd;
          pointer-events: none;
        }
      }
    }
  }
}

.student-list-table {
  border: 1px solid #eee;
  border-collapse: collapse;
  border: none;
  font-size: 1.6rem;
  display: block;
  max-height: 45vh;

  overflow-y: auto;

  thead {
    position: sticky;
    top: 0;
    width: 100%;
  }

  th {
    padding: 0.4rem 0.8rem;
    font-weight: bold;
    font-size: 1.8rem;
    background-color: var(--clr-white);
    border-bottom: 1px solid var(--clr-primary);
  }

  th:first-child {
    padding: 0.4rem 0.1rem;
  }

  th,
  td {
    text-align: left;
  }

  td input,
  td select,
  span {
    font-size: inherit;
    border: none;
    padding: 0.4rem 0.8rem;
    background-color: transparent;
    line-height: 2;
  }

  td input:focus-visible,
  td select:focus-visible {
    outline: none;
  }

  input[type='time'] {
    font-family: inherit;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }

  tbody tr:nth-child(odd):not(.new-student-row) {
    background-color: var(--clr-lightgrey);
  }

  .input-time {
    width: 4rem;
  }

  .input-duration {
    width: 2rem;
    padding: 0;
  }

  .input-location {
    width: 20rem;
  }

  .icon {
    height: 2rem;
    width: 2rem;
    color: var(--clr-primary);
  }

  .icon-add {
    stroke: var(--clr-primary);
  }

  &.add-new {
    margin-top: 4rem;
  }
}
