.students {
  position: relative;
  // max-height: calc(100vh - 50rem);
  .container--heading {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 1.6rem;
  }
  .container--controls {
    display: flex;
    gap: 1.8rem;
    // justify-content: space-between;
    align-items: center;
    margin-bottom: 1.8rem;

    .select-action {
      color: var(--clr-text);
      background-color: var(--clr-bg-black-400);
      font-size: 1.4rem;

      &:focus {
        outline: none;
      }
    }

    .container-right {
      margin-left: auto;
      display: flex;
      gap: 3.2rem;
      align-items: center;
      position: relative;

      .input--search {
        font-size: 1.6rem;
        padding: 0.4rem 0.8rem 0.4rem 3.5rem;
        background-color: var(--clr-bg-black-400);
        color: var(--clr-text);
        border: none;

        &:focus {
          outline: none;
          box-shadow: inset 1px 1px 0 var(--clr-primary),
            inset -1px -1px 0 var(--clr-primary);
        }
      }

      .icon-search {
        position: absolute;
        top: 30%;
        left: 1.2rem;
      }

      .button-add-student {
        padding: 0.8rem;
        margin-left: 1.2rem;
        background-color: var(--clr-primary);
        color: #fff;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        gap: 0.8rem;

        .icon-add {
          display: block;
          height: 2rem;
          width: 2rem;
        }

        &.disabled {
          background-color: #ddd;
          pointer-events: none;
        }
      }
    }
  }

  .count-students {
    margin-top: 2.4rem;
  }
}
