.wrapper--signup {
  .confirmation-message {
    font-size: 1.6rem;
  }
  .form--signup {
    grid-template-columns: 25rem 25rem;

    .form-item--email,
    .form-item--pw1,
    .form-item--pw2,
    .button--signup {
      grid-column: 1/-1;
    }

    .form-item--privacy-policy {
      grid-column: 1/-1;
      display: flex !important;
      justify-self: left;
      gap: 1.2rem;
      align-items: center;
      input {
        width: fit-content;
      }
      label {
        font-size: 1.4rem;
      }
    }
  }
  .button--account-exists {
    display: block;
    margin: 0 auto;
  }

  .container--buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 1/-1;
  }
}

@media (max-width: 480px) {
  .wrapper--signup {
    .form--signup {
      grid-template-columns: 1fr;

      .form-item--privacy-policy {
        label {
          font-size: 1.2rem;
        }
      }
    }
  }
}
