.student-list {
  .grid-row {
    display: grid;
    width: 100%;
    position: relative;

    grid-template-columns: 4rem repeat(3, 1fr) 14rem repeat(2, 10rem) 13rem 1fr 4rem;
    align-items: stretch;
    &:not(:first-child) {
      margin-bottom: 0.1rem;
    }
    &:not(.student-list__header) > div {
      background-color: var(--clr-bg-400);

      padding: 1rem 0;
    }
  }
  &__header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--clr-bg-600) !important;
    font-weight: bold;
    padding: 1rem 0;
    z-index: 30;
    color: var(--clr-text-600);

    font-size: 1.8rem;

    .button--sort {
      padding: 0.8rem;
      color: var(--clr-darkgrey);
      transform: rotate(180deg);

      &.active {
        color: var(--clr-primary-600);
      }

      & svg {
        height: 0.8rem;
        width: 0.8rem;
      }
    }
  }
}
