@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: 'DM Sans';
    src: url('../assets/fonts/DM_Sans/DMSans-Regular.eot');
    src:
      url('../assets/fonts/DM_Sans/DMSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/DM_Sans/DMSans-Regular.woff2') format('woff2'),
      url('../assets/fonts/DM_Sans/DMSans-Regular.woff') format('woff'),
      url('../assets/fonts/DM_Sans/DMSans-Regular.ttf') format('truetype'),
      url('../assets/fonts/DM_Sans/DMSans-Regular.svg#DMSans-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'DM Sans';
    src: url('../assets/fonts/DM_Sans/DMSans-Medium.eot');
    src:
      url('../assets/fonts/DM_Sans/DMSans-Medium.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/DM_Sans/DMSans-Medium.woff2') format('woff2'),
      url('../assets/fonts/DM_Sans/DMSans-Medium.woff') format('woff'),
      url('../assets/fonts/DM_Sans/DMSans-Medium.ttf') format('truetype'),
      url('../assets/fonts/DM_Sans/DMSans-Medium.svg#DMSans-Regular') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'DM Sans';
    src: url('../assets/fonts/DM_Sans/DMSans-Bold.eot');
    src:
      url('../assets/fonts/DM_Sans/DMSans-Bold.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/DM_Sans/DMSans-Bold.woff2') format('woff2'),
      url('../assets/fonts/DM_Sans/DMSans-Bold.woff') format('woff'),
      url('../assets/fonts/DM_Sans/DMSans-Bold.ttf') format('truetype'),
      url('../assets/fonts/DM_Sans/DMSans-Bold.svg#DMSans-Regular') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  :root {
    --background-plain: 0 0% 100%;
    --background-50: 240 5% 96%;
    --background-100: 0 0% 98%;
    --background-200: 240 5% 90%;

    --background-sidebar: 0 0% 98%;

    --clr-warning: 0 49.8% 51.6%;
    --foreground: 240 5% 26%;
    --foreground-sidebar: 240 5% 26%;

    --hairline: 240 5% 90%;
    --card: var(--background-100);
    --card-foreground: var(--foreground);

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 195 42% 48%;
    --sidebar-primary: 195 42% 48%;
    --primary-hover: 195 42% 43%;
    --primary-foreground: 30 100% 100%;
    --sidebar-primary-foreground: 30 100% 100%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 240 6% 90%;
    --muted-foreground: var(--clr-bg-100);

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 50% 52%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 195 42% 75%;

    --border-notes-red: 0, 100%, 75%;
    --border-notes-blue: 203, 100%, 60%;
    --border-notes-yellow: 47, 95%, 76%;
    --border-notes-green: 118, 50%, 50%, .552;

    --opacity-empty-box: 55%;
    --radius: 0.5rem;
  }

  .dark-mode {
    --background-plain: 213 10% 18.5%;
    --background-50: 207 7% 22%;
    --background-100: 210 9% 19%;
    --background-200: 213 10% 18.8%;
    --foreground: 240 5% 90%;
    --foreground-sidebar: 240 5% 90%;

    --background-sidebar: 207 7% 22%;

    --hairline: 207 7% 25%;

    --card: var(--background-50);
    --card-foreground: var(--foreground);

    --popover: 207 7% 30%;
    --popover-foreground: 210 40% 98%;

    --primary: 195 42% 48%;
    --primary-foreground: 30 100% 100%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 207 7% 30%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 213 10% 21%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border-notes-red: 0 20% 50%;
    --border-notes-blue: 203 25% 50%;
    --border-notes-yellow: 49 36% 50%;
    --border-notes-green: 118, 25%, 50%, 0.552;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 195 35 40%;

    --opacity-empty-box: 20%;
  }
}

body {
  @apply bg-background100 font-body text-foreground;
}

a {
  @apply cursor-pointer text-primary hover:underline;
}

a:hover {
  text-decoration-color: hsl(195, 42%, 70%);
  text-underline-offset: 2px;
}

svg {
  @apply h-full w-auto
}

p,
span {
  @apply text-foreground;
}

h1 {
  @apply mb-[.75em] text-2xl font-semibold text-foreground/90 tracking-tighter;
}

h2 {
  @apply mb-[.5em] text-xl font-medium leading-relaxed tracking-tight text-foreground;
}

h3 {
  @apply text-xl font-light mb-3 text-foreground
}

h4 {
  @apply text-lg mb-2 font-light text-foreground
}

h5 {
  @apply text-foreground mb-2 text-base font-medium
}

.rsw-editor {
  @apply !border-hairline mt-[10px] text-base;
}


.rsw-toolbar {
  @apply justify-between !bg-background50 !border-hairline
}

.rsw-btn {
  @apply flex items-center justify-center !size-[28px]
}

.rsw-btn:hover {
  @apply bg-accent !important
}

.rsw-btn svg {
  @apply size-[16px] !text-foreground
}

.rsw-btn[data-active='true'] {
  @apply !bg-background200
}


.rsw-ce {
  @apply bg-background50/40 h-[170px] overflow-auto no-scrollbar text-foreground !p-[10px] focus:bg-background100;
}

/* Mini Editor */
.rsw-editor:has(span[data-type="mini"]) {

  @apply bg-background100;
  margin-top: unset;
  min-height: unset;
  font-size: 16px;
}

.rsw-editor:has(span[data-type="mini"]) .rsw-ce {
  height: 36px;
  padding: 8px 12px !important;
}

.rsw-editor:has(span[data-type="mini"]) .rsw-toolbar {
  @apply !bg-background100 border border-hairline rounded-b-md;
}

.rsw-ce ul,
.rsw-ce ol {
  margin: initial;
  margin-left: 10px;
  padding-left: 8px;
}

.rsw-ce ul {
  list-style: initial;
}

.rsw-ce ol {
  list-style-type: decimal;
  /* list-style-position: inside; */
}

.rsw-ce a:link {
  text-decoration: underline;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
  tabindex: -1;
}

.has-list {
  @apply [&_ul]:list-disc [&_ul]:ml-[14px] text-sm [&_ol]:list-decimal [&_ol]:ml-[12px]
}

.container-page {
  @apply sm:py-4 sm:pl-6 sm:pr-4 py-4 px-5 h-full;
  max-width: 100vw;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.padding-mobile-nav {
  padding-bottom: max(6px, env(safe-area-inset-bottom));
  padding-top: 6px;
}

.position-notification-mobile {
  bottom: calc(16px + env(safe-area-inset-bottom));
}

.position-mobile-lesson-nav {
  bottom: calc(env(safe-area-inset-bottom) + 64px);
}

@media (min-height: 800px) and (min-width: 1024px) {
  .special-min-height {
    height: 43vh !important;
  }
}
