.modal {
  position: fixed;
  top: 50%;
  left: 50%;

  display: grid;
  align-items: center;

  transform: translate(-50%, -50%);
  box-shadow: var(--box-shadow-cards);

  z-index: 60;
  color: var(--clr-text);
  background-color: var(--clr-bg-100);

  border-radius: 5px;
  box-shadow: var(--box-shadow);

  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--clr-bg-200);
  }

  &__btn-close {
    height: 2.4rem;
    width: 2.4rem;
    position: absolute;
    right: 2rem;
    top: 2rem;
    color: var(--clr-text);

    svg {
      height: 100%;
      width: 100%;
    }
  }
  // 1084px
  @media screen and (max-width: 67.75em) {
    max-width: 100vw;
    max-height: 100vh;
  }

  // 680px
  @media screen and (max-width: 42.5em) {
    & > div {
      padding: 4.8rem 2rem 2.4rem 2rem;
      width: 100vw;
    }
  }
}

.button--close-modal svg {
  height: 2.4rem;
  width: 2.4rem;
}

.overlay {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  background-color: rgba(0 0 0/0.4);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}
