.edit-profile {
  padding: 4.8rem;
  width: 50vw;

  &.loading {
    opacity: 0.4;
    pointer-events: none;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin-bottom: 2rem;
  }

  &__buttons {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    justify-content: flex-end;
  }
}
