.edit-students {
  padding: 4.8rem;
  width: 95vw;
  max-height: 80vh;

  .labels {
    display: grid;
    margin-bottom: 0.6rem;
  }

  &__info {
    p {
      font-size: 1.2rem;
    }
  }

  &__grid {
    &.loading > * {
      opacity: 0.3;
      pointer-events: none;
    }
  }

  .labels span {
    padding-left: 0.8rem;
  }

  select {
    width: 100%;
  }

  &__buttons {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    justify-content: flex-end;
  }
}

// 1084px
@media (max-width: 67.75em) {
  .edit-students {
    width: 100vw;
    padding: 2.4rem;
  }
}
