.footer--dashboard {
  grid-area: footer;
  color: var(--clr-darkgrey);
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;

  span {
    font-size: 1rem;
  }

  padding: 1.4rem 3.2rem;
  .links {
    display: flex;
    gap: 1rem;
  }
  .copyright {
    font-size: 1rem;
  }
}
