.modal--edit-todo {
  min-width: 70%;

  .modal {
    overflow: visible;
  }
  .inputs {
    display: grid;
    grid-template-columns: 1fr repeat(2, auto);
    align-items: center;
    background-color: var(--clr-bg-400);
    column-gap: 3.2rem;
    padding: 0.8rem 1.2rem;
    margin-bottom: 1.8rem;
    .add-student {
      .wrapper-student {
        .student {
          padding: 0.6rem 2.4rem;
        }
      }
    }

    .date {
      font-size: 1.4rem;
      color: var(--clr-primary-400);
    }

    [type='date']::-webkit-datetime-edit {
      display: none;
    }
    [type='date']::-webkit-calendar-picker-indicator {
      margin: 0;
    }
  }

  .container--buttons {
    margin-left: auto;
    width: fit-content;
  }
}
