.navbar {
  font-size: 1.6rem;
  margin-bottom: 2.4rem;

  .navlist {
    padding: 0;
    display: flex;
    justify-content: flex-start;
    gap: 2.4rem;
    .nav-item {
      padding: 0.6rem 0;
      position: relative;
      overflow: hidden;

      &:has(.navlink.active) {
        color: var(--clr-text);
        box-shadow: 0 3px 0 var(--clr-primary-600);
      }
    }
  }
}
