.add-students {
  padding: 4.8rem;
  max-height: 95vh;
  width: 95vw;
  display: grid;
  grid-template-rows: repeat(2, auto) 1fr repeat(3, auto);
  &__grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 16rem repeat(2, 6.5rem) 12rem 1fr auto;
    column-gap: 0.2rem;
    margin-bottom: 1rem;
    overflow-x: visible;

    &.labels {
      margin-bottom: 0;
    }
    .label {
      padding: 0.8rem;
      padding-bottom: 0.2rem;
    }

    .button--delete-row {
      border: none;
      align-self: center;

      color: var(--clr-warning);

      svg {
        height: 1.6rem;
        width: 1.6rem;
      }
    }
  }

  &__form {
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  .container--buttons {
    display: flex;
    justify-content: space-between;

    .add-rows {
      display: flex;
      align-items: center;
      input {
        width: 6rem;
        text-align: center;
      }
    }
  }
}
