.add-student {
  position: relative;
  display: flex;
  gap: 1.2rem;

  svg {
    height: 2rem !important;
    width: 2rem !important;
  }

  &:hover .button--remove-student {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }
}
