@import url('./fonts.scss');
@import url('./typography.scss');

:root {
  // --clr-primary: hsl(195, 43%, 39%);
  --clr-primary: #4794ae;
  --clr-primary-bright: hsl(195, 42%, 70%);
  // --clr-primary-bright: hsl(195, 43%, 90%);
  --clr-text: #d5d6d7;
  // --clr-warning: rgb(234, 58, 58);
  --clr-warning: #ae476d;
  --clr-darkgrey: #aaa;
  --clr-grey-400: #f0f0f0;
  --clr-grey-300: #f3f3f3;
  --clr-grey-200: #f8f9fa;
  --clr-white: #e9eaeb;
  --clr-bg-black-600: #2f343a;
  --clr-bg-black-500: #343a40;
  --clr-bg-black-400: #484e53;

  --toastify-color-dark: var(--clr-bg-black-400) !important;
  --toastify-text-color-dark: var(--clr-text) !important;

  --toastify-color-progress-dark: var(--clr-primary) !important;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'DM Sans';
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  background-color: var(--clr-bg-black-500);
  color: var(--clr-text);
}

img,
svg {
  display: block;
}

img {
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: block;
}

hr {
  // border-color: var(--clr-bg-black-400);
  margin: 1.8rem 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
}

p,
a,
strong,
span {
  font-size: 1.6rem;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: var(--clr-bg-black-400);
  border: none;
  width: 100%;
  padding: 0.8rem;

  resize: none;
  outline: none;
}

.App {
  display: flex;
  height: 100%;
  min-height: 100vh;
}

#main {
  // padding: 0 4.8rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container {
  padding: 1.2rem 2.4rem 1.2rem 3.2rem;
}

.container--login {
  display: grid;
  width: 100%;
  place-content: center;
}

.container--loader {
  display: flex;
  justify-content: center;
}
