.terms {
  margin: 0 auto;
  max-width: 95rem;
  ul {
    // list-style: decimal;
    li {
      display: block;
    }
  }

  ol {
    margin-bottom: 3.2rem;
  }

  ol li {
    margin-left: 1em;
    margin-bottom: 1em;
  }
}
