.header-dashboard {
  grid-area: header;
  display: flex;
  align-items: first baseline;
  justify-content: space-between;
  .heading-1 {
    margin-bottom: 0;
  }
  .container-message {
    padding-top: 2rem;

    .welcome-message {
      font-size: 1.6rem;
    }
  }
}
