.all-lessons {
  padding: 2rem 1.6rem 2rem 3.2rem;

  ul {
    list-style: disc;
  }
  ul,
  ol {
    margin-left: 1.7rem;
  }
  &__table {
    .table__row > * {
      // background-color: green;
      padding: 1.8rem 1em;
    }
  }
  &__buttons {
    margin-bottom: 3.2rem;
  }
}

// 1084px
@media screen and (max-width: 67.75em) {
  .all-lessons {
    width: 100vw;
    height: 100vh;
  }
}

// 680px
@media screen and (max-width: 42.5em) {
  .all-lessons {
    padding: 5.2rem 0 !important;

    &__row {
      grid-template-columns: 1fr 1fr;

      p {
        margin-bottom: 0;
      }

      &:first-child > :first-child {
        display: none;
      }

      & > :nth-child(2) {
        grid-column: 1;
      }

      .date {
        font-weight: 600;
        padding-bottom: 0;
      }
    }
  }
}
